[profile.default]
src = 'contracts/src'
out = 'out'
test = 'tests'
libs = ["lib/", "../utils/", "../erc20/"]
remappings = [
    '@0x/contracts-erc20/=../erc20/',
    '@0x/contracts-utils/=../utils/'
]

fs_permissions = [
    { access = "read", path = "./" },
    { access = "read", path = "../" },
    { access = "read", path = "../../" },
]
solc_version = "0.8.28"
optimizer = true
optimizer_runs = 1000000
evm_version = "cancun"

[rpc_endpoints]
# Use public RPC URLs - these work reliably for CI/testing
arbitrum = "https://arb1.arbitrum.io/rpc"
avalanche = "https://api.avax.network/ext/bc/C/rpc"
bsc = "https://bsc-dataseed1.binance.org"
fantom = "https://fantom-rpc.publicnode.com"
mainnet = "https://mainnet.infura.io/v3/6770454bc6ea42c58aac12978531b93f"
optimism = "https://mainnet.optimism.io"
polygon = "https://polygon-rpc.com"
